//- var user = locals.user;
doctype html
html
    head
        link(rel="stylesheet" href="libs/bootstrap.css")
        script(src="libs/jquery.js")
        title Sample App
    body 
        nav.navbar.navbar-inverse
            .container
                a.navbar-brand(href="/") HOME
                a.navbar-brand(href="/") DATA
                a.navbar-brand(href='/') ABOUT
                a.navbar-brand.pull-right(href='/logout') Log out
        .container
            h1 Hello Express !!!
            h3 Welcome #{username}
            block body
                #app
        script(type="text/babel" src="js/layout.js")
